@import url('https://fonts.googleapis.com/css2?family=Roboto+condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d8ffed;
    color: #341680;
    font-family: "Share Tech", sans-serif;
    font-weight: 550;
    
}
header {
    font-family: "Roboto condensed", sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    background-color:#78c9b5bd ;
    color: #21114e;
    text-align: center;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color: #00644bbd;
    font-size: 1.2rem;
}
input[type="radio"],[type="checkbox"]{
    accent-color:#00644bbd ;
}
input[type="text"], [type="password"], [type="email"], [type="date"]{
    width: 25%;
    padding: 0.3rem;
    border: 2px solid #00644bbd ;
    outline: none;
    border-radius: 8px;
    background-color: transparent;
}
input::placeholder{
    color: #00644bbd 
}
textarea {
    width: 25%;
    padding: 0.3rem;
    border: 2px solid #00644bbd ;
    outline: none;
    border-radius: 8px;
    background-color: transparent;  
}

select {
    cursor: pointer;
    background-color: #00644bbd;
    color:#c3e8ff ;
    border-radius: 8px;
    border: none;
    outline: none;
}

img {
    width:7rem;
    border-radius: 8px;
}

table {
    width: 60%;
    border-collapse: collapse;
}
th {
    background-color:#78c9b5bd ;
    color: #21114e;
    padding: 1.2rem;
}
td {
    color: #105050;
    padding: 1rem;
    text-align: center;
}
tfoot td{
    font-size: 1rem;
    background-color: #32215e;
    color: #d8ffed;
}
details {
    background-color: #b3ebfc;
    color: #70752a;
    border-radius: 8px;
    padding: 1rem;
}
summary {
    color: #00644bbd;
    margin: 0.5rem;
    cursor: pointer;

}
ul {
    margin-left: 2rem;
}
li {
    padding: 0.2rem;
}
fieldset {
    border: 3px solid #00644bbd;
    border-radius: 8px;
    padding: 1rem;
}
legend {
    color:#21114e;
    padding: 0 0.5rem;
}
textarea {
    background-color: transparent;
    outline: none;
    border-radius: 8px;

}
button {
    background-color:#00644bbd ;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0.6rem;
    cursor: pointer;
    color: #b3ebfc;
}
textarea::placeholder {
    color: #00644bbd;
    font-family:"Roboto condensed", sans-serif;
}
.paragrafo-footer{
    font-family: "Roboto condensed", sans-serif;
    padding: 1rem;
    background-color:#78c9b5bd ;
    color: #21114e;
    text-align: center;
}